In [3]:
import pandas as pd

table_0 = pd.read_csv("2.8.txt", sep=" ")

table_0

           x         y
0   16460.26  24724.89
1   13422.47  19422.53
2    9086.73  13441.09
3    8806.55  13119.05
4   10828.62  14432.55
5   11231.48  14392.69
6    9729.05  12829.45
7    8622.97  11581.28
8   19397.89  26674.90
9   11977.55  18679.52
10  15158.30  22726.66
11   9524.04  12990.35
12  12501.12  17961.45
13   8717.37  12866.44
14  11006.61  16305.41
15   8837.46  13231.11
16   9477.51  13152.86
17   9945.52  13821.16
18  15527.97  19732.86
19   9627.40  14146.04
20   9408.48  12607.84
21  11146.80  14367.55
22   9679.14  12633.38
23   8349.21  11758.76
24   9076.61  13250.22
25   8323.54  12481.51
26   9772.07  12857.89
27   8308.62  10969.41
28   8192.56  11640.43
29   9558.29  12931.53
30   8669.36  11432.10

In [5]:
import matplotlib.pyplot as plt
import numpy as np

x = np.array([1, 2, 3, 4, 5, 6, 7, 8])
y = np.array([1, 4, 9, 16, 7, 11, 23, 18])

plt.scatter(x, y)
plt.show()

ModuleNotFoundError: No module named 'matplotlib'